.light{
    margin: 30px auto;
       /* 滑鼠手指 */
       cursor: pointer;
}
.light b{
    padding: 5px;
    background-color: #bb4120;
    color: azure;
    cursor: pointer;
}
/* 註釋燈箱 */
.btn01 {
    color: rgb(190, 10, 34);
    /* 滑鼠手指 */
    cursor: pointer;
}
#fade {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #33333300;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    padding: 16px;
    border: 3px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
    position: fixed;
}

/* 圖片 */
#light img {
    max-width: 200px;
    max-height: 200px;
}

/* 標題 */
#light h2 {
    text-align: center;
}

#light a {
    padding: 5px;
    border-radius: 5px;
    color: #333;
    background-color: #ffd484;
    text-decoration: none;
}

#light li{
    text-align: left;
    margin: 20px 15%;
    line-height: 30px;

}


/* 介紹超連結 */
.btn02 {
    color: rgb(22, 10, 190);
    /* 滑鼠手指 */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}





