/* 先移除掉預設的值、空格 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #364F63;
}

/* 樣式基礎 */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url("picture/對話頭貼/背景2.png");
    background-size: contain;
}

.contentimg{
    margin: 5% 20%;
}

/* 釋義 */
@media (min-width: 320px)and (max-width: 699px) {
    .indexbtn {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 100px auto;
        align-items: center;
        max-width: 800px;
        min-width: 250px;
        padding: 20px;
    }
    .indexbtn  img{
    height: 250px;
    width: 250px;
    }
    .indexbtn01{
        grid-column: 2/3;
    }
    .indexbtn02{
        grid-column: 2/3;
    }
    .definition {
        display: grid;
        grid-template-rows: 2fr 3fr;
        grid-gap: 10px;
        line-height: 28px;
        border: 3px;
        background-color: #f2ede3;
        padding: 30px;
        margin: 60px auto;
        border-radius: 15px;
        min-height: 400px;
    }

    .definition img {
        padding: 20px auto;
        grid-row: 2/3;
    }

    .definition p {
        line-height: 30px;
        margin: 30px auto;
    }

    .definitionimg {
        max-width: 1000px;
        margin: 100px auto;
        width: 50dvw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }


}


@media (min-width: 700px) and (max-width: 960px) {
    .indexbtn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        margin: 100px auto;
        align-items: center;
        max-width: 800px;
        min-width: 250px;
        padding: 20px;
    }
    .indexbtn  img{
    height: 300px;
    width: 300px;
    }
    .indexbtn01{
        grid-column: 2/3;
    }
    .indexbtn02{
        grid-column: 3/4;
    }
    
    .content p {
        margin: 100px 5%;
        line-height: 40px;
    }

    /* 釋義 */
    .definition {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-gap: 10px;
        line-height: 28px;
        border: 3px;
        background-color: #f2ede3;
        padding: 30px;
        margin: 100px auto;
        border-radius: 15px;
        min-height: 400px;
    }

    .definition p {

        line-height: 30px;
        margin: 30px auto;
    }

    .definitionimg {
        margin: 100px auto;
        display: grid;
        align-items: center;
    }
  
}

@media (min-width: 961px) {
    .indexbtn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        margin: 100px auto;
        align-items: center;
        max-width: 800px;
        min-width: 250px;
        padding: 20px;
    }
    .indexbtn  img{
    height: 300px;
    width: 300px;
    }
    .indexbtn01{
        grid-column: 2/3;
    }
    .indexbtn02{
        grid-column: 3/4;
    }


    /* 釋義 */
    .definition {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 10px;
        line-height: 28px;
        border: 3px;
        background-color: #f2ede3;
        padding: 30px;
        margin: 60px auto;
        border-radius: 15px;
        min-height: 400px;
    }

    .definition p {
        line-height: 30px;
        margin: 30px auto;
    }

    .definitionimg {
        display: grid;
        margin: 100px 10%;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .definitionimg img {
        padding: auto;
    }
 
}


@media (min-width: 768px) {
    .content p {
        margin: 100px 5%;
        line-height: 50px;
    }
}





a {
    list-style-type: none;
    text-decoration: none;
}



/* 下拉導覽頁 */
.shell {
    position: sticky;
    top: 0;
    z-index: 10;
    width: auto;
    height: auto;
    display: flex;
    padding: auto 10px;
    background-color: #bb4120;
    margin: auto;
    justify-content: center;

}


.button,
.portrait {
    background-color: #bb4120;
    width: 170px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    transition: .3s;
    cursor: pointer;
    justify-content: center;
}

.portrait::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(30px, -30px);
    background-image: url('./portrait.png');
    background-size: cover;
    border: 10px solid #fff;
    justify-content: center;
}

.information {
    width: 220px;
    background-color: #bb4120;
    transform: translate(-20px, -200px);
    border-radius: 10px;
    padding: 20px 0;
    line-height: 0;
    height: 0;
    transition: .3s;
    opacity: 0;
    justify-content: center;

}

.button:hover {
    background-color: #bb4120;
    justify-content: center;
}

.button li:hover {
    background-color: #FFD07A;
    justify-content: center;
}

.button ul li {
    height: 0;
    transition: .2s;
    opacity: 0;
    transform: translateY(-65px);
    background-color: #364F63;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.button a {
    text-decoration: none;
    color: #fff;
}

.button:hover li {
    height: 65px;
    opacity: 1;
    transform: translateY(0);
    display: flex;
}

.portrait:hover .information {
    opacity: 1;
    line-height: 65px;
    transform: translate(-20px, -10px);
    height: auto;
}



.f {
    max-width: 800px;
    min-width: 250px;
    line-height: 50px;
    margin: 100px auto;
    padding: 20px 30px;
    align-items: center;
    background-color: #faf8f3;
}

.f p {
    padding: 20px;
}



/* 內容外框 */
.container {
    margin: 50px auto;
    max-width: 800px;
    min-width: 250px;
    height: auto;
    padding: 50px 20px;
}

/* 對話+說明容器' */
.content {
    margin: 15% auto;
    max-width: 800px;
    min-width: 250px;
    height: auto;
    padding: 50px 20px;
    background-color: #faf8f3;
    /* background-image: url("picture/對話頭貼/背景.png"); */
    border: 0.2em solid #bb4120;
    border-radius: 15px;
}



/* 頭像+對話框_左 */
.box {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 20px;
    display: flex;
}

/* 對話框 */
.box p {
    margin: 0 10px;
    text-align: left;
    border: 2px;
    border-radius: 15px;
    padding: 20px 5%;
    background-color: #F7EDE2;
}

/* 頭像+對話框_右 */
.box2 {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-gap: 20px;
    display: flex;
    flex-direction: row-reverse;
}

/* 對話框 */
.box2 p {
    margin: 0 10px;
    text-align: left;
    border: 2px;
    border-radius: 15px;
    padding: 20px 5%;
    background-color: #FFD07A;
    color: #364F63;
    margin-left: 30px;

}


/* 對話框選項_右 */
.box2 li {
    margin: 10px 10px;
    text-align: left;
    border: 2px;
    border-radius: 15px;
    padding: 20px 5%;
    background-color: #FFD07A;
    margin-left: 30px;
    list-style-type: none;
    text-decoration: none;
}

/* 對話框細節選項超連結_右 */
.box2 a {
    font-size: large;
    color: #364F63;
}





/* 選擇題 */
.mcq {
    margin: 30px auto;
    max-width: 800px;
    min-width: 250px;
    height: auto;
    padding: 50px 20px;
    background-color: #faf8f3;
    /* background-image: url("picture/對話頭貼/背景.png"); */
    border: 0.2em solid #ffffff;
    border-radius: 15px;
}

.mcq input {
    padding: 10px;
    color: #333;
}


/* 首頁圖片 */

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}