@media (min-width: 320px)and (max-width: 499px) {

    /* 釋義 */
    .temple2 {
        padding: 20px;
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 60px 10%;
        grid-gap: 20px;

        
        justify-items: center; /* 在主轴上居中 */
    
    }

    .temple3 {
        grid-row: 1/2;
    }

    .temple4 {
        grid-row: 2/3;
        align-items: center;
    }

    .temple4 img {
        height: auto;
        width: 80%;
    }

    .map2 {
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 60px 10%;
        grid-gap: 20px;
    }

    .map3 {
        grid-row: 1/2;
        align-items: center;
    }

    .map4 {
        grid-row: 2/3;
        align-items: center;
    }

    .map4 img {
        height: auto;
        width: 70%;
    }

}

@media (min-width: 500px) and (max-width: 1100px) {

    .temple2 {
        padding: 20px;
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 60px 10%;
        grid-gap: 20px;

        
        justify-items: center; /* 在主轴上居中 */
     
    }

    .temple3 {
        grid-row: 1/2;
    }

    .temple4 {
        grid-row: 2/4;
    }

    .temple4 img {
        height: auto;
        width: 75%;
    }

    .map2 {
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 60px 10%;
        grid-gap: 20px;
    }

    .map3 {
        grid-row: 1/2;
        grid-column: 2/3;
        align-items: center;
    }

    .map4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .map img {
        height: auto;
        width: 80%;
    }
}



@media (min-width: 1200px) {

    .temple2 {
        padding: 20px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 60px 10%;
        grid-gap: 20px;

        
        justify-items: center; /* 在主轴上居中 */
    
    }

    .temple3 {
        grid-column: 1/2;
    }

    .temple4 {
        grid-column: 2/3;
    }

    .temple4 img {
        height: auto;
        width: 80%;
    }

    .map2 {
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 60px 10%;
        grid-gap: 20px;
        justify-items: center;
        align-items: center;  
        
    }

    .map3 {
        grid-column: 1/2;
        align-items: center;
    }

    .map4 {
        grid-column: 2/3;
    }

    .map4 img {
        height: auto;
        width: 80%;
    }
}

.temple5 {
    padding: 20px;
    background-color: #fff;

    margin: 60px 10%;
    grid-gap: 20px;
    align-items: center;
}

.temple6 {
    align-items: center;

}

.map4 a {
    font-size: larger;
    color: #bb4120;
}


@media (max-width: 1200px) {
    .thumbnail-container {
        width: auto;
        background-color: #fff;
        margin: 60px 20%;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 20px;
    }
    .thumbnail-container2 {
        width: auto;
        background-color: #fff;
        margin: 60px 20%;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 20px;
    }
    .thumbnail-container5 {
        width: auto;
        background-color: #fff;
        margin: 60px 20%;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding: 20px;
    }

    .thumbnail {
        margin: 10px;
        /* overflow: hidden; */
        position: relative;
        transition: transform 0.3s ease-in-out;
        align-items: center;
        text-align: center;
       
    }

    .thumbnail img {
        width: auto;
        max-height: 400px;
        /* display: block; */
        align-items: center;
        text-align: center;
    }


    .thumbnail:hover {
        transform: scale(1.2);
    }
}




@media (min-width: 1100px) {

    .thumbnail-container {
        display: flex;
        width: auto;
        margin: 60px 10%;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #fff;
        padding: 20px;

        justify-items: center; /* 在主轴上居中 */
        align-items: center;   /* 在交叉轴上居中 */

    }
    .thumbnail-container2 {
        width: auto;
        background-color: #fff;
        margin: 60px 10%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        justify-items: center; /* 在主轴上居中 */
        align-items: center;   /* 在交叉轴上居中 */
    }
    .thumbnail-container5 {
        width: auto;
        background-color: #fff;
        margin: 60px 5%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 20px;
        justify-items: center; /* 在主轴上居中 */
        align-items: center;   /* 在交叉轴上居中 */
    }


    .thumbnail {
        margin: 0 20px;
        overflow: hidden;
        position: relative;
        transition: transform 0.3s ease-in-out;
        justify-items: center; /* 在主轴上居中 */
        align-items: center;   /* 在交叉轴上居中 */
        text-align: center;
    }

    .thumbnail img {
        width: auto;
        height: 45vh;
        display: block;
        align-items: center;
        text-align: center;
    }


    .thumbnail:hover {
        transform: scale(1.2);
    }
}


.temple5btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add additional styles as needed */


/* 回到廟宇選擇 */
.back {
    background-color: #eee;
    position: fixed;
    right: 50px;
    bottom: 20px;
    max-width: 100px;
}