@media (min-width: 320px)and (max-width: 499px) {

    /* 釋義 */
    .temple2 {
        max-width: 800px;
        min-width: 250px;
        padding: 30px;
        margin: 60px auto;
        border-radius: 15px;
        min-height: 400px;
        display: grid;
       
        grid-auto-rows: 1fr 1fr;
        grid-gap: 10px;
        line-height: 28px;
        border: 3px;
        background-color: #f2ede3;
        margin: 60px auto;
        border-radius: 15px;
    }

    .templep {
        line-height: 30px;
        margin: 30px auto;
        grid-row: 1/2;
    }

    .templeimg {
        width: 100%;
        margin: auto;
        grid-row: 2/3;
    }
    .templeimg img{
        width: 80%;
    }

}

@media (min-width: 500px) and (max-width: 709px) {

    .temple2 {
        max-width: 800px;
        min-width: 250px;
        padding: 30px;
        margin: 60px auto;
        border-radius: 15px;
        min-height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        grid-gap: 10px;
        line-height: 28px;
        border: 3px;
        background-color: #f2ede3;
        margin: 60px auto;
        border-radius: 15px;
    }

    .templep {
        line-height: 30px;
        margin: 30px auto;
        grid-column: 1/3;
    }

    .templeimg {
        width: 100%;
        margin: auto;
        grid-column: 3/6;
    }
    .templeimg img{
        width: 80%;
    }

}



@media (min-width: 710px) {

    .temple2 {
        max-width: 800px;
        min-width: 250px;
        padding: 30px;
        margin: 60px auto;
        border-radius: 15px;
        min-height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        grid-gap: 10px;
        line-height: 28px;
        border: 3px;
        background-color: #f2ede3;
        margin: 60px auto;
        border-radius: 15px;
    }

    .templep {
        line-height: 30px;
        margin: 30px auto;
        grid-column: 1/3;
    }

    .templeimg {
        width: 100%;
        margin: auto;
        grid-column: 3/6;
    }
    .templeimg img{
        width: 80%;
    }
}