
header{
    text-align: center;
    align-items: center;
    background-image: url("picture/首頁/紅木01.jpg");
    height: 80vh;
    padding-top: 150px;
    color: #fff;

}


/* 標題2 */
h2 {
    background-color: #ffd07a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* 標題3 */
h3 {
    color: #333;
    text-align: center;
}
/* 標題4 */
h4 {
    color: #333;
    text-align: center;
}








/* 底部 */
footer {
    text-align: center;
    background-color: #ee6a46;
    color: #fff;
    padding: 10px;
}