/* 導覽頁 */
nav {
    /* 固定在上排 */
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 0;
    background-color: #ffd07a;
    width: 100%;
    margin: auto auto;
} 
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 10;
}
nav li {
    margin: 0 10px;
    background-color: #bb4120;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

header{
    text-align: center;
    align-items: center;
    background-image: url("");
    height: 300px;

}
header h1{
    justify-content: center;
    align-items: center;
    padding: auto;
}
/* 標題2 */
h2 {
    color: #333;
    text-align: center;
}
/* 標題3 */
h3 {
    color: #333;
    text-align: center;
}
/* 標題4 */
h4 {
    color: #333;
    text-align: center;
}








/* 底部 */
footer {
    text-align: center;
    background-color: #ee6a46;
    color: #fff;
    padding: 10px;
}